.page {
  height: 100vh;
  width: 100vw;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #393E41;
    width: 100%;
}

  .form {
    width: 90%;
    max-width: 368px;
    display: flex;
    flex-direction: column;
  }

  .formLabel {
    font-size: 16px;
    font-family: "Quicksand";
    color: #F6F7EB;
  }

  .formInput {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: "Quicksand";
    color: #F6F7EB;
    border-radius: 8px;
    border-width: 1px;
    border-color: #F6F7EB;
    padding: 12px;
    background-color: transparent;
  }

  .passwordResetButton {
    margin-top: 8px;
    padding: 16px;
    background-color: #F6F7EB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #393E41;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand"
  }